[2017-08-11 11:47] GeetikaBatra opened #11 "Devstudio Production Ready"
- [x]  Create and update site for the plugin
- [x] Trigger analyses on Jenkins
- [x]  Upload the plugin on download.jboss.org

[2017-08-16 09:28] GeetikaBatra commented on #11
- [ ] Change the triggering point of stack analyses from manifest file to entire project.

- [ ] Bug- Token if changed from preference is not updated in stack analyses

- [ ] Bug- unhandled event loop exception when clicked stack analyses twice

- [ ] Get the code reviewed and refactored accordingly

- [ ]

[2017-08-17 10:51] GeetikaBatra commented on #11
- [ ] Unit Tests

- [ ] Integration Tests

[2017-08-21 10:53] GeetikaBatra commented on #11
- [ ] Add support of multiple manifest files

[2017-08-22 07:38] GeetikaBatra commented on #11
**BACK LOG**

- [ ] Research on how lsp4e plugin can be embedded into bayesian plugin, so that there is no need of installing it explicitely

[2017-08-22 19:02] nickboldt commented on #11
Please don't embed plugins in plugins. Just depend on them. It's cleaner and doesn't bloat the user's installation.

[2017-09-07 07:35] jeffmaury opened #17 "Implement token access through an extension point/OSGI service"
As of yet, the token is managed through an Eclipse preference which has the following drawbacks:

- security: it should be stored in secured storage as this is a sensitive data
- it forces user to find the token in the OSIO UI and it is a bad UX

As DevStudio/JBossTools team will force as part of the Freesia release train on implementing OSIO login, it would be nice that the LSP plugin get access

[2017-09-07 10:36] GeetikaBatra opened #18 "Index.html not appearing in class path"
On the hosted site, the templates folder is not present hence the loading page is not appearing.

[2017-09-13 07:30] psrna opened #19 "Java sources are missing copyright information"

[2017-09-13 08:06] psrna opened #20 "Auto wrap token field in preferences"
If you reopen preferences with previously stored long token, the token field is not wrapped automatically and grabs the whole screen area.

Screenshot: https://www.dropbox.com/s/f5wzy4xvf1hztbc/Screenshot%202017-09-13%2010.01.09.png?dl=0

[2017-09-14 12:09] #18 closed

[2017-09-14 12:11] GeetikaBatra commented on #19
@psrna, Can you point me out the exact copyright information that I can add to the code. Thanks in advance.

[2017-09-18 10:44] psrna commented on #19
This is what we have for JBossTools.

https://github.com/jbosstools/jbosstools-base/blob/master/foundation/features/org.jboss.tools.foundation.license.feature/feature.properties

https://github.com/jbosstools/jbosstools-base/blob/master/foundation/features/org.jboss.tools.foundation.license.feature/license.html

[2017-09-18 10:46] psrna opened #21 "Stack Analyses view never stops loading"
The view content is loading forever. There should be a reasonable timeout showing the error if it cannot load.

[2017-09-19 08:07] ljelinkova opened #22 "Exception when trying to get node location on Linux"
In Fabric8AnalyticsStreamConnectionProvider.getNodeJsLocation() there is an exception thrown when running on Linux with no node installed (location is null).

[2017-09-20 08:01] ljelinkova opened #24 "Exception when running stack analyses"
I get an exception when I run the analyses, then close the Stack analyses view and run the analyses again.

Steps to reproduce:

1. Right click some maven project and select Stack analyses
2. The Stack analyses view should appear
3. Close the view
4. Right click the same project and run the analyses again
RESULT: The following exception is in error log

``
org.eclipse.swt.SWTException: Widget is d

[2017-09-20 08:12] ljelinkova opened #25 "Exception handling"
All exceptions should be properly handled - either the user should be informed that something went wrong (e.g. cannot connect to server) or it should be at least logged into the Eclipse error log.

[2017-09-20 08:18] ljelinkova opened #26 "Change the Stack analyses tooltip"
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/acaf8befc8a95d75d049f464910dbd219bc7ca6a/plugins/com.redhat.fabric8analytics.lsp.eclipse/plugin.xml#L66

[2017-09-20 08:20] ljelinkova opened #27 "Rename the CustomeView and change its id"
Please rename the view to something meaningful and change its ID

https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/acaf8befc8a95d75d049f464910dbd219bc7ca6a/plugins/com.redhat.fabric8analytics.lsp.eclipse/plugin.xml#L32

[2017-09-20 08:30] ljelinkova opened #28 "Change the lookup of Maven pom files"
While current solution works on small scale projects, it would not work on a large ones (like the whole wildfly project for example).

There should be a possibility to get the list of maven pom files from the maven plugin.

[2017-09-20 08:38] GeetikaBatra commented on #19
Thanks @psrna , will work on it.

[2017-09-20 08:44] ljelinkova opened #29 "Use Eclipse's jobs instead of own treads"
Examples are available here: http://www.vogella.com/tutorials/EclipseJobs/article.html#eclipse-background-processing

[2017-09-20 08:49] GeetikaBatra commented on #28
Thanks @ljelinkova
Can you please elaborate it.

[2017-09-20 09:42] ljelinkova opened #30 "Fix error message"
Please remove C# reference

https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/f82c95751dca9645b5952519d4f25ca971000570/plugins/com.redhat.fabric8analytics.lsp.eclipse/src/com/redhat/fabric8analytics/lsp/eclipse/Fabric8AnalyticsStreamConnectionProvider.java#L111

[2017-09-20 10:11] ljelinkova opened #31 "Remove libraries folder"
It would be better to find appropriate Eclipse bundles and depend on them instead of storing libraries in github and packaging them into the f8 plugin..

For example. instead of including httpclient-4.5.jar you can specify org.apache.httpcomponents.httpclient as a dependency in the manifest file.

[2017-09-20 12:25] ljelinkova commented on #28
Well, one problem that can occur is that it is possible to use any file name as maven script and you can then run it like this.

`` mvn -f <other pom file > ``

So simply looking into all pom.xml files might not be sufficient.

There could be more issues and it might be a good idea to investigate, if some other plugin, e.g. some m2e plugin can do this task for you.

[2017-09-20 13:30] ljelinkova opened #32 "Only pom.xml of last project in workspace is analyzed"
The ``=`` operand should be changed to ``addAll``

https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/f82c95751dca9645b5952519d4f25ca971000570/plugins/com.redhat.fabric8analytics.lsp.eclipse/src/com/redhat/fabric8analytics/lsp/eclipse/ExitHandler.java#L74

[2017-09-20 18:57] fbricon opened #33 "Remove all .DS_Store files (and add to .gitignore)"
.DS_Store files are macOS specific and generally useless files, please remove them from the git repo

[2017-09-20 19:01] fbricon opened #34 "Remove 'server' directory from git repo"
The server directory should be populated at build time. Storing those files in the git repo wastes both space and bandwidth

[2017-09-20 19:05] fbricon opened #35 "Remove fabric8-analytics-lsp-server-test-devstudio from git repo"
fabric8-analytics-lsp-server-test-devstudio is downloaded and installed at build time, it should be removed from the git repo (and added to .gitignore)

[2017-09-20 19:27] fbricon opened #36 "Do not unnecessarily export packages in MANIFEST.MF"
This plugin is not responsible for [exporting](https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/f82c95751dca9645b5952519d4f25ca971000570/plugins/com.redhat.fabric8analytics.lsp.eclipse/META-INF/MANIFEST.MF#L28-L75) http packages to others.
The only candidate for export is `com.redhat.fabric8analytics.lsp.eclipse`, but unless some other plugin actually consumes it, that'

[2017-09-20 19:33] fbricon opened #37 "Move all internal classes to an *.internal package"
In some conventions, non API classes are usually kept under *.internal packages. It makes accidental public exposure of internal stuff less likely.
I recommend moving all internal classes to com.redhat.fabric8analytics.lsp.eclipse.internal. Anything that should be considered API can be left in the current package.
Only public packages should be exported in the manifest. See #36

[2017-09-20 20:36] fbricon opened #38 "Fix error message in Fabric8AnalyticsStreamConnectionProvider.java"
See https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/f82c95751dca9645b5952519d4f25ca971000570/plugins/com.redhat.fabric8analytics.lsp.eclipse/src/com/redhat/fabric8analytics/lsp/eclipse/Fabric8AnalyticsStreamConnectionProvider.java#L111

Looks like bad copy/paste

[2017-09-20 20:40] fbricon commented on #35
Moreover, https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/f82c95751dca9645b5952519d4f25ca971000570/plugins/com.redhat.fabric8analytics.lsp.eclipse/src/com/redhat/fabric8analytics/lsp/eclipse/Fabric8AnalyticsStreamConnectionProvider.java#L45 should be fixed to point to the server/ folder at the root of the plugin.

Make sure the build.properties is configured accordingl

[2017-09-20 20:50] fbricon commented on #38
Duplicate of #30

[2017-09-20 20:50] #38 closed

[2017-09-20 21:11] fbricon commented on #28
By default, I'd say do something like:

[code]
- It should be very fast
- doesn't depend on the m2e API (so works for projects using mvn eclipse:eclipse)
- should cover 99+% of the use cases

2 caveats:
- is it doesn't find non standard pom.xmls, but not the complexity of looking further is worth it
- it only finds poms at the root of maven projects imported as eclipse projects (which is what m2e

[2017-09-25 09:45] ljelinkova commented on #22
Commit merged - this issue can be closed.

[2017-09-25 09:45] #22 closed

[2017-09-25 09:46] ljelinkova commented on #31
Commit merged - this can be closed now.

[2017-09-25 09:46] #31 closed

[2017-09-25 09:47] ljelinkova commented on #36
This was fixed with #31

[2017-09-25 10:23] GeetikaBatra opened #40 "Stack analyses goes into infinite loop if recommender api is not set"
Stack Analyses goes into infinite loop if the recommender api is not set

[2017-09-26 09:32] GeetikaBatra commented on #40
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/commit/40ecfb68190fc0a45f1b4236c347e238e47e8fc0

[2017-09-26 09:32] #40 closed

[2017-09-26 10:13] GeetikaBatra commented on #34
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/commit/f0bde0c4bfa31e693fb20e6a1dfed5b0cf874dc9

[2017-09-26 10:13] #34 closed

[2017-09-27 09:15] GeetikaBatra commented on #29
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/commit/36c06eb1c91ef8d6bf7b6fe4ed8650b8a8d7c2d1

[2017-09-27 09:15] #29 closed

[2017-10-04 10:05] #36 closed

[2017-10-04 11:54] ljelinkova opened #44 "Cannot run language server if the Eclipse's path contains spaces"
When the installation directory of Eclipse contains spaces in its name, the server will fail to start because of the following exception:

``
java.net.URISyntaxException: Illegal character in path at index 36: file:/home/ljelinko/programs/jbt/4.5 + F8/../../../git/fabric8-analytics-devstudio-plugin/plugins/com.redhat.fabric8analytics.lsp.eclipse.ui/fabric8-analytics-lsp-server-test-devstudio/outpu

[2017-10-05 06:02] GeetikaBatra commented on #33
This was closed with https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/commit/09d039e9d109ba02164faa6b15d2fbb509f6a5a0

[2017-10-05 06:02] #33 closed

[2017-10-05 07:34] ljelinkova opened #48 "Change the server's download location"
At the moment, the LSP server is downloaded from this repository:

https://github.com/invinciblejai/fabric8-analytics-lsp-server/archive/test-devstudio.zip

I think it should be moved to jboss site.

WDYT @nickboldt @invincibleJai @GeetikaBatra

[2017-10-05 07:37] GeetikaBatra commented on #48
@ljelinkova , + 1

[2017-10-05 09:42] GeetikaBatra commented on #35
This is covered in the following PR https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/49

[2017-10-05 09:43] invincibleJai commented on #48
@GeetikaBatra we should use https://github.com/fabric8-analytics/fabric8-analytics-lsp-server instead as it's the main repo.
https://github.com/invinciblejai/fabric8-analytics-lsp-server/archive/test-devstudio.zip we used to test lsp flow.

CC @ljelinkova @samuzzal-choudhury @nickboldt

[2017-10-05 09:55] GeetikaBatra commented on #48
@invincibleJai, are the latest changes visible in  https://github.com/fabric8-analytics/fabric8-analytics-lsp-server ?

[2017-10-05 09:57] invincibleJai commented on #48
@GeetikaBatra yes , but you need to test once with that.

[2017-10-05 10:49] #24 closed

[2017-10-05 12:58] nickboldt commented on #48
So you want to publish builds of https://github.com/invinciblejai/fabric8-analytics-lsp-server/ to download.jboss.org ? Do you need help setting up a Jenkins build?

[2017-10-05 14:24] GeetikaBatra commented on #48
@invincibleJai , Looks like  https://github.com/fabric8-analytics/fabric8-analytics-lsp-server doesn't work. I still get the following error.

[code]

[2017-10-06 06:02] invincibleJai commented on #48
Thanks @nickboldt yes i do need to set up a jenkins build but for https://github.com/fabric8-analytics/fabric8-analytics-lsp-server, it's in my plate :)

[2017-10-06 06:03] invincibleJai commented on #48
@GeetikaBatra need to debug it , let's look into this in office

[2017-10-06 10:41] invincibleJai commented on #48
@GeetikaBatra test with master https://github.com/fabric8-analytics/fabric8-analytics-lsp-server should be working now

[2017-10-06 13:21] jeffmaury opened #50 "Single project processed by Stack Analyses"
Only the last project open is processed by the Stack Analyses command

[2017-10-06 13:26] jeffmaury opened #51 "Stack Analyses command should not process all workspaces files"
The current implementation of the Stack Analyses will process all files from the workspace. The normal behavior is to use the current selection (file, project) to filter the scope of the command

[2017-10-06 16:07] jeffmaury commented on #50
Duplicates of #32

[2017-10-06 16:07] #50 closed

[2017-10-09 08:48] #27 closed

[2017-10-09 08:51] GeetikaBatra commented on #48
@nickboldt, I don't think we would need to publish the builds of https://github.com/invinciblejai/fabric8-analytics-lsp-server/ to download.jboss.org . This is downloaded and used.  Does publishing it , a better solution than downloading it in the server directory of the project?

[2017-10-09 08:54] invincibleJai commented on #48
@GeetikaBatra try with  https://github.com/fabric8-analytics/fabric8-analytics-lsp-server , and we do make release https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/releases/ but it's manual ATM , once get some time will look into this.

[2017-10-09 09:43] ljelinkova opened #53 "Display Stack analyses menu item only on projects and pom.xml"
It is confusing to call stack analyses for example on java files - display the menu item only for projects and pom.xml files

[2017-10-09 11:26] ljelinkova opened #55 "The URL for displaying analyses"
When the analyses is requested, the request is sent to
https://recommender.api.openshift.io/api/v1/stack-analyses/

However, the results are downloaded from
http://ops-portal-v2-ops-portal-ide.dev.rdu2c.fabric8.io/#/analyze

Is it all right to use this URL or should there be some more "official"?

[2017-10-10 12:16] ljelinkova commented on #44
It seems this is an internal Eclipse issue with FileLocator.resolve(). This workaround works for me.

Bundle bundle = Platform.getBundle(Fabric8AnalysisLSUIActivator.PLUGIN_ID);

File serverFile = new File(FileLocator.getBundleFile(bundle), "/fabric8-analytics-lsp-server-test-devstudio/output/server.js");

setCommands(Arrays.asList(new String[] {
		nodeJsLocation.getAbsolutePath(),
		serverFile.ge

[2017-10-10 12:40] ljelinkova commented on #17
What is the point of keeping the current implementation? Once the OSIO is implemented, why not rely entirely on it?

[2017-10-10 12:53] jeffmaury commented on #17
It could be removed but the dependency (org.jboss.tools.openshift.io.core and org.jboss.tools.openshift.io.ui) should be added to the update site so that we can assert the extension point can be found

[2017-10-10 13:05] ljelinkova commented on #17
OK, thanks for the reply.

[2017-10-11 10:22] ljelinkova commented on #53
Fixed by #54.

[2017-10-11 10:22] #53 closed

[2017-10-11 10:24] ljelinkova commented on #51
Fixed by #54.

The analyses is now invoked on selected projects or pom.xml files only.

[2017-10-11 10:24] #51 closed

[2017-10-11 10:28] ljelinkova commented on #32
Fixed by #54.

[2017-10-11 10:28] #32 closed

[2017-10-11 10:29] ljelinkova commented on #26
There's no need to have tooltip at all - it seems other menu items do not. So it was removed.
Fixed by #54.

[2017-10-11 10:29] #26 closed

[2017-10-11 10:31] ljelinkova commented on #28
According to Fred's suggestion only pom.xml files in project root are processed. However, the algorithm was changed to process only selected projects or pom.xml files.

Fixed by #54.

[2017-10-11 12:07] ljelinkova commented on #48
Do you think it will be possible to make a release of LSP server until the code freeze of DevStudio (25. Oct)?

[2017-10-11 13:57] nickboldt commented on #48
Yes, entirely possible.

Here's a job in progress I started moments ago. I'm not sure how you want
to build this, or what you want to archive/publish, but I've made some
guesses as a starting place.

https://dev-platform-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/jbosstools-fabric8analytics-lsp-server_master/

If you can confirm that you want me to run make-tarball.sh
<https://github.com/fabric8-

[2017-10-12 10:25] GeetikaBatra commented on #20
The authentication mechanism has changed entirely, the preference window is out of picture now. I think we can close this now.

[2017-10-12 10:26] #11 closed

[2017-10-12 10:27] #35 closed

[2017-10-12 10:29] GeetikaBatra commented on #21
Stack Analyses takes a little while to load. I think the prod was down when this request was made. Please let me know if we still need to add timeout. Thanks in advance.

[2017-10-12 10:36] psrna commented on #21
In my opinion the timeout is still needed. If the prod was down, or something else happend. The view should stop showing the loading progress bar (timeout) and communicate errors accordingly to the user.

[2017-10-12 12:26] jeffmaury commented on #21
I also noted that Stack Analyses does not work on Win10. If you copy the URL from the Stack Analyses window to Microsoft Edge you got the same result and looking at the developer tools there's a JS error when loading the view. I think this is blocker for initial release

[2017-10-12 12:32] GeetikaBatra commented on #21
@psrna , creating an issue for the same. What should be the standard time for timeout?

@jeffmaury, I think @arunkumars08 and @invincibleJai can help us fix this.

[2017-10-12 14:37] nickboldt commented on #11
If this issue is resolved, perhaps it's time to bump your plugins and features up to version 1.0.0? 0.0.1 suggests quality = Alpha at best.

[2017-10-13 06:41] #20 closed

[2017-10-13 06:42] GeetikaBatra commented on #17
This has been implemented. Closing this issue https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/commit/b54bc637f98d7b2fd7759e22f77a83dd45ab15d9

[2017-10-13 06:42] #17 closed

[2017-10-13 06:57] geetikabatra opened #60 "Add the fabric8 analytics plugin/feature into JBT and Devstudio."
Need to add fabric8 analytics plugin to JBT and Devstudio update site.

https://github.com/jbosstools/jbosstools-devdoc/blob/master/source/how_to_add_a_plugin_or_feature_to_an_existing_project.adoc#add-a-new-plugin-or-feature-to-jboss-tools
https://github.com/jbosstools/jbosstools-devdoc/blob/master/source/publishing_features_downstream.adoc

[2017-10-13 07:02] GeetikaBatra commented on #55
@ljelinkova, This is official URL for now. Would this be a blocker in the release, if not, let us settle on this. :)

[2017-10-13 07:07] krishnapaparaju commented on #55
These URLs need to be mapped thru 3Scale Gateway, with this URLs would change.

http://ops-portal-v2-ops-portal-ide.dev.rdu2c.fabric8.io/#/analyze is not the right one as this portal been migrated to production.

cc @GeorgeActon  @samuzzal-choudhury @arunkumars08

[2017-10-13 07:36] samuzzal-choudhury commented on #55
@krishnapaparaju you are right. @GeetikaBatra @ljelinkova the official route is being assigned on the production cluster. The service delivery issue https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/649 has got the requested URL name and other related communication.

[2017-10-13 10:08] invincibleJai commented on #21
Yes @GeetikaBatra  timeout needs to be handled in logic of IDEs extension as from IDE we are making poll for stack analysis to check if result is ready.
In case of call taking more than x amount of time should be timed out or in case or doing poll for y times and still analysis is not complete can give some notification to user.

Arun can help with "Stack Analyses does not work on Win10" , @arunku

[2017-10-16 08:19] GeetikaBatra opened #62 "Change the Stack Analyses view to Editor view"
Currently the stack analyses can be viewed from here.

[2017-10-16 10:02] ljelinkova opened #63 "Add Openshift IO plugins into update site"
Since the plugin is now dependent on the Openshift IO plugins, it should be added to the site.

[2017-10-16 10:08] ljelinkova commented on #63
@nickboldt Could you please help with this one? Do we need to add openshift plugins into category.xml?

[2017-10-16 10:11] GeetikaBatra commented on #63
@ljelinkova, I think dependent update is yet to be pushed. It will be done by 24th as far as i know. @jeffmaury might want to add his inputs here.

[2017-10-16 10:18] ljelinkova opened #64 "What happens with LSP server when token is changed?"
The server asks for token once and then sets an environmental variable with the token key and value. What should happen if the token is changed / expired? Should the LSP server check for the changes? Is there an API for that?

@jeffmaury
@GeetikaBatra

[2017-10-16 11:33] jeffmaury commented on #64
@ljelinkova The API that I defined is designed so that the caller should not cache the token and the provider will perform validation when you call it again. But I think the problem is that the Analytics LSP is written in Typescript and my provider is Java so connecting the two may not be trivial

[2017-10-16 12:02] GeetikaBatra commented on #64
We can poll for token check every 24 hours when lsp server is called. This will make sure that the latest token is available in the environment.
Also, we need to handle the case where a user closes the sign in window or does not want to sign in initially, there is no way for the user to find the sign in page again in case he/she later changes his/her mind and want's to sign in again.

[2017-10-16 13:02] ljelinkova commented on #64
What if we added checkbox to Fabric8 preference page that would enabled / disabled language server?

- by default it would be enabled
- if user decided that he does not want to login, the language server would be disabled
- if user decided that he wants the language server to work again, it would enable it and we would request the token from OpenshiftIO plugin

And yes, we will probably need to po

[2017-10-16 13:11] GeetikaBatra commented on #64
@ljelinkova, can we add a button on the window panel, which just says authorize or unauthorize. The vs code extension is implemented this way only.

[2017-10-16 14:29] nickboldt commented on #63
The openshift.io plugins are already in JBoss Tools and Developer Studio.

Are you saying you want your build to depend on the Openshift site? If so I can provide a PR for that so that your local and Jenkins CI builds can resolve the deps.

[2017-10-17 11:08] GeetikaBatra commented on #21
@jeffmaury, This PR fixes the Microsoft Edge issue. https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui/pull/36

[2017-10-17 11:09] arunkumars08 commented on #21
@jeffmaury I have logged an issue regarding the same here - https://github.com/openshiftio/openshift.io/issues/1143

I have made some code changes. Once it is reflected, @GeetikaBatra  can test and update here.

[2017-10-17 11:10] GeetikaBatra commented on #21
@arunkumars08, Thanks

[2017-10-17 12:14] ljelinkova commented on #63
I just want to make sure that the installation will work once the Fabric8 plugin is added into Central.

So if I understand it correctly it is enough that the OSIO plugins are on the JBT target platform and no additional work is needed?

[2017-10-17 13:00] ljelinkova commented on #63
Actually, PR  #68 needs to be merged first.

[2017-10-17 14:17] ljelinkova commented on #63
Sorry, I've just read CAREFULLY what Nick wrote and created the following PR #69.

[2017-10-18 06:11] ljelinkova commented on #60
This is the corresponding Jira on DevStudio side

https://issues.jboss.org/browse/JBIDE-24897

Nick asks for confirmation from Jeff MAURY or Bob Davis. @GeetikaBatra  can you ask them?

[2017-10-18 08:37] ljelinkova commented on #44
This one should be closed by the commit.

[2017-10-18 08:38] #44 closed

[2017-10-20 13:40] nickboldt opened #71 "Core plugin depends on UI"
When building I see this warning:

[WARNING] Rule 0: org.jboss.tools.releng.CoreUIDependency failed with message:
[CoreUIDependency] com.redhat.fabric8analytics.lsp.eclipse.core is a Core plugin, but depends on these UI plugins directly or transitively:

You should seek to move all UI functionality to the .ui plugin, out of the .core one.

[2017-10-20 13:54] nickboldt commented on #48
Here's a fix for being unable to gunzip the tarball:

https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/pull/19

[2017-10-20 13:57] nickboldt commented on #19
Is this still an issue, @psrna  ? I see https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/master/features/com.redhat.fabric8analytics.lsp.eclipse.feature/feature.properties has copyright info, and https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/master/features/com.redhat.fabric8analytics.lsp.eclipse.feature/feature.xml contains a ref to that

[2017-10-20 14:36] psrna commented on #19
Yes, I think so. In JBossTools we add copyright info into every *.java file.

e.g. https://github.com/jbosstools/jbosstools-openshift/blob/52ceade1f9d6ece75c752eb120ce4940ea7ce4d2/plugins/org.jboss.tools.openshift.core/src/org/jboss/tools/openshift/core/server/OpenShiftServer.java#L1

In the past we have been told that it is a requirement. But maybe it has changed, @nickboldt ?

[2017-10-23 08:37] GeetikaBatra commented on #62
A tab can be added to editor view using the ```import org.eclipse.m2e.editor.pom.MavenPomEditor;```. Me and @ljelinkova have been able to add this extension point, but the method ```[addEditorPageExtensions](https://github.com/eclipse/m2e-core/blob/11922879173b8516103e935c574be289bc1cbe9c/org.eclipse.m2e.editor/src/org/eclipse/m2e/editor/pom/MavenPomEditor.java#L399)``` is not public.  So we are u

[2017-10-23 09:41] #71 closed

[2017-10-23 09:58] ljelinkova commented on #63
This is done, we can close the issue.

[2017-10-23 09:58] #63 closed

[2017-10-23 10:01] ljelinkova commented on #64
The following was implemented in #70
- the LSP server can be started/stopped using Preferences
- the OSIO is polled for token regularly and if changed, the LSP server is restarted

[2017-10-23 10:01] #64 closed

[2017-10-23 10:03] ljelinkova commented on #30
This has already benn resolved.

[2017-10-23 10:03] #30 closed

[2017-10-23 12:11] ljelinkova commented on #25
Fixed by #76.

[2017-10-23 12:11] #25 closed

[2017-10-23 12:12] ljelinkova commented on #37
Fixed by #78

[2017-10-23 12:34] ljelinkova commented on #62
To be more precise, we added the following into plugin.xml
`<extension
      point="org.eclipse.m2e.editor.pageFactories">
   <factory
         class="com.redhat.fabric8analytics.lsp.eclipse.ui.Fabric8PomEditorFactory">
   </factory>
</extension>`

And created class

`
public class Fabric8PomEditorFactory extends MavenPomEditorPageFactory{

	@Override
	public void addPages(MavenPomEditor editor) {

[2017-10-23 13:22] ljelinkova commented on #55
This is the code where URL's are used

https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/master/plugins/com.redhat.fabric8analytics.lsp.eclipse.core/src/com/redhat/fabric8analytics/lsp/eclipse/core/RecommenderAPIProvider.java

So would it work if the line
`private static final String ANALYSES_REPORT_URL =  "http://fabric8-analytics-stack-report-ui-bayesian-preview.b6ff.r

[2017-10-23 13:34] ljelinkova commented on #48
I got lost between the responsibilities of @nickboldt  and @invincibleJai  so I'll sum up what we need for the plugin and please answer or advice where necessary

1. the plugin should be built with released (presumably 0.0.6) version of LSP server so that the build is repeatable with the same results.
2. the built server should be uploaded somewhere so that we can download it during build. The URL

[2017-10-23 15:49] invincibleJai commented on #48
@ljelinkova just to update , @nickboldt have automated the build process on each merge to master of LSP repo it will generate a tar and which is being hosted now , that can be downloaded by this extension during build.

As earlier in extension zip(which is LSP code) is being used so some node (NPM) tasks were needed to run to build LSP code which won't be needed any more with tar, just it needs to

[2017-10-23 21:58] fbricon commented on #62
You can try something like

[code]

[2017-10-24 05:21] GeetikaBatra commented on #48
@invincibleJai, the tar which lsp server is creating throws```Invalid byte 105 at offset 0 in 'i)L�v��b��\' len=12``` . Any idea how can this be resolved. If we zip the file instead of gunzipping(.zip extension instead of tar.gz). Would it work?

[2017-10-24 05:24] invincibleJai commented on #48
@GeetikaBatra am not sure what is wrong need to look into but currently i guess Nick using `*.tar` not `.tar.gz` . you need to unpack tar if you are doing it properly i don't think there should be any problem as even am using it same way.

[2017-10-24 05:28] GeetikaBatra commented on #48
@invincibleJai, it is *.tar right now, before this fix fabric8-analytics/fabric8-analytics-lsp-server#19, it was gunzip(*.tar.gz). But both of them are not working for me.

[2017-10-24 07:39] GeetikaBatra commented on #48
This is covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/79

[2017-10-24 09:27] #19 closed

[2017-10-24 09:58] ljelinkova commented on #64
Actually, support for

- the OSIO is polled for token regularly and if changed, the LSP server is restarted

is dropped due to complicated implementation not worth the risk of affecting other parts of DevStudio or user experience

[2017-10-25 10:08] ljelinkova opened #81 "Stack analyses is not displayed - only loading"
When I run the stack analyses, I do not get any results only page that says Loading...

[2017-10-25 10:19] ljelinkova opened #82 "Fabric8 error markers stay visible after is analyses disabled"
Steps:
1. Make sure you have analyses enabled
2. Open pom file with some security problem
3. The error markers should be visible in Problems view
4. Go to Preferences -> Fabric8 and disable code analyses

RESULT: The LSP server is stopped (you can see it in Eclipse log) but the error markers are still visible

[2017-10-25 10:25] ljelinkova opened #83 "Add some notification to user why Openshift.io login is displayed"
When user opens pom.xml file, the OpenShift.io login is displayed immediately. This is quite confusing. User should be informed that the Fabric8 analyses needs to login into OpenShift.io and asked, if he/she wants to log in.

Note that this will need change of OpenShift.io plugin API.

[2017-10-25 10:29] ljelinkova opened #84 "Should be StackAnalyses view added to JBoss perspecitve?"

[2017-10-25 10:32] ljelinkova opened #85 "Enable analyses for more file types"
At the moment, the analyses can run only for pom.xml filels. I've seen that in VisualStudio also package.json files were analysed.

[2017-10-25 10:37] ljelinkova opened #86 "Add timeout for loading the analyses in StackAnalyses view"
The stack analyses view is polling for analyses results but if the production is down, it never stops

[2017-10-25 10:38] ljelinkova commented on #21
I've created separate issue for analyses timeout #86. I think this issue can now be closed.

[2017-10-25 10:45] ljelinkova commented on #55
@samuzzal-choudhury It is code freeze for Devstudio today. So it is most likely that the old URL will be left in the code. Is that all right?

http://fabric8-analytics-stack-report-ui-bayesian-preview.b6ff.rh-idev.openshiftapps.com/#/analyze/

[2017-10-25 11:06] samuzzal-choudhury commented on #55
@ljelinkova changing the `ANALYSES_REPORT_URL` to `private static final String ANALYSES_REPORT_URL = "https://stack-analytics-report.openshift.io/#/analyze/";` will do.

[2017-10-25 11:55] ljelinkova opened #88 "Improve StackAnalyses view by adding more information"
At the moment, the Stack Analyses view has only 3 states
- empty
- loading
- displaying stack analyses

Instead of empty view there should be information how you can run analyses or some button to run analyses over the whole workspace on one click. Also, when analyses is aborted by timeout or an exception occurs, the view should display some message.

[2017-10-25 13:04] #55 closed

[2017-10-25 13:07] GeetikaBatra commented on #55
@ljelinkova  and @samuzzal-choudhury, the Url was not changed because the latest url had some bugs in the UI which I coordinated to @arunkumars08 yesterday. I was waiting for it to get fixed so that I commit the change once I get approval from him.

[2017-11-15 11:59] ljelinkova opened #90 "Improve error handling in case 'node' is not installed"
If the node is not installed, an error message is displayed to user but it is covered by login window to OSIO. This is unnecessary. If node is not installed, the server should be disabled and no login should be attempted.

[2017-11-16 09:43] ljelinkova opened #91 "LSP server authentification"
I'd like to ask about the need of authentication in fabric8 lsp server. Is it necessary to provide the user's token to run the server? Could it be changed to some anonymous mode?

The reason I am asking is that it complicates things quite a lot in Devstudio plugin.

First of all, the user might not want to login into OSIO at first. But the plugin will ask him to do so on every open of pom file. Th

[2017-11-17 05:03] invincibleJai commented on #91
@ljelinkova as per my understanding Is it necessary to provide the user's token to run the server(LSP) as it needs to consume services of OSIO(f8-analytics) which expects access token

In VSCode plugin , we have a separate flow for Auth where in user needs to explicitly trigger `Authorize OSIO` where in user will be authenticated. Till user din't trigger `Authorize OSIO` he won't be able to consum

[2017-11-17 08:32] GeetikaBatra commented on #91
@ljelinkova . In visual studio, there is a dedicated button clicking which would trigger the Authorization process.

I agree wth @invincibleJai, the token should not get expired as it is refreshed on the
authorization side every 24 hours. I had confirmed that with Jeff earlier.

![vscode button](https://user-images.githubusercontent.com/8664238/32937776-d0cd4a90-cb9f-11e7-883a-6f3facb6ef00.png)

[2017-11-22 12:01] ljelinkova commented on #91
I like the way you solved login and analyses in VSCode pluign and I think we could make it work in Devstudio the same way. There already is the toggle button for login into OSIO (see picture)

We would need to change some things on Devstudio side but I think this change would improve the overall user experience with the Fabric8 plugin. So if you'd agreed I can create feature request in Devstudio O

[2017-11-23 03:57] GeetikaBatra opened #92 "Integration with crowd sourcing intent api"
Next task in Devstudio involves integration of crowd sourcing api with Devstudio, where user will be asked to tag the components, user can skip if he wishes.
This will involve removal of **Eclipse job** which is implementing a counter to check if the response if stack report is available.

[2017-11-23 04:01] GeetikaBatra commented on #88
This is no longer necessary as crowd sourcing api will be called as soon as the manfest files are sent  to recommneder api.
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/92

[2017-11-23 04:02] GeetikaBatra commented on #86
This would also be covered by this https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/92

[2017-11-23 04:03] GeetikaBatra commented on #81
The url to view stack analyses was changed. It no longer says loading.

[2017-11-23 04:03] #81 closed

[2017-11-23 04:03] #21 closed

[2017-11-23 04:04] GeetikaBatra commented on #21
This is no longer necessary as the loading part is covered by crowd sourcing api.
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/92

[2017-11-28 07:57] ljelinkova commented on #81
The typical workflow is that the QE verifies these kind of issues. So I am reopening the issue until it is verified by QE. You may also want to create some label to mark issues that need QE verification.

[2017-11-28 09:42] ljelinkova commented on #91
@GeetikaBatra Any thoughts about changing the devstudio plugin to work similar to VSCode plugin?

[2017-11-28 15:10] GeetikaBatra commented on #91
@ljelinkova, definitely. Currently, I am working on 3scale integration. You might want to take this up. :)

[2017-11-29 08:17] ljelinkova commented on #91
Thanks, I will.

[2017-11-29 10:00] #92 closed

[2017-11-29 10:00] GeetikaBatra commented on #92
This feature is dropped from current sprint.

[2017-11-29 11:48] #48 closed

[2017-12-14 13:47] jeffmaury opened #98 "Build is not Windows compatible"
Looking at https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/d7520eb76255d8200abdef90c9169b9a92831b52/plugins/com.redhat.fabric8analytics.lsp.eclipse.ui/pom.xml#L33 , it is not Windows compatible. There is a Maven plugin for downloading stuff and it supports caching so we should stick to it because I'm stuck testing stuff on Windows now

[2017-12-18 19:49] GeetikaBatra commented on #98
Using maven plugin to download and unzip the tar file for lsp server gives this error.

[code]

This compelled me to create a shell script for the same.
Please suggest a possible solution for the same.
Thanks in advance

[2017-12-18 20:05] GeetikaBatra commented on #91
<img width="1680" alt="screen shot 2017-12-19 at 1 22 16 am" src="https://user-images.githubusercontent.com/8664238/34125565-a8906532-e45c-11e7-8fe3-68ad9d77e7f7.png">

This is something similar I have implemented. It is a WIP.
Covered by this PR https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/99

[2018-01-02 13:14] GeetikaBatra opened #102 "Change the 3scale URLS to production one and update the lsp server urls"
Currently some URL are not final and are a temporary fix to make Component Analyses and Stack Analyses run. These need to be changed before making it available in the market place.

[2018-01-02 13:56] GeetikaBatra commented on #28
Support for multiple manifest file is needed, which might not be covered by this PR. Reopening the issue.

[2018-01-02 14:03] fbricon commented on #28
Manifest support is a different requirement, should be dealt as a different issue

[2018-01-02 14:09] GeetikaBatra opened #103 "Force stop of LSP server throws Exception."
Force stopping lsp server like this ` https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/master/plugins/com.redhat.fabric8analytics.lsp.eclipse.ui/src/com/redhat/fabric8analytics/lsp/eclipse/ui/Fabric8AnalyticsStreamConnectionProvider.java#L71-L72`

Throws Exceptions like these
`!ENTRY org.eclipse.lsp4e 4 0 2018-01-02 18:04:23.321
!MESSAGE Analyses Disabled
!STACK 0
java.

[2018-01-02 20:42] GeetikaBatra commented on #28
Alright, I will create a new issue for the same.

[2018-01-02 20:42] #28 closed

[2018-01-02 20:48] GeetikaBatra opened #104 "Lookup of project wide manifest files to utilize multi maven support in stack analyses."
Currently the the lookup method only picks the main manifest file. An iterative way to find manifest files was worked upon in this commit. `https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/commit/4e76647b4a7ed203e61ff442e1f1c8a9a49aa236#diff-abfa82c1af087068576ffd6394382b29R72`

But this doesn't sound feasible for large scale projects.

Reference Issue https://github.com/fab

[2018-01-02 21:07] GeetikaBatra commented on #98
@nickboldt, Can we build the lsp server from the github repository, the way it is done in Vscode. https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/blob/master/fetch_lsp.sh#L4
Building the lsp server from github repository would exclude the possibility of getting above errors.

[2018-01-03 09:08] GeetikaBatra opened #105 "Add Unit and Integration Tests"
Please refer to the following doc for the test cases that are top be covered for Fabric8 Plugin.
https://docs.google.com/document/d/1D5XIZpHzRw-vnreYYtXRqgXmAa8KKzHFn0IXK_YFdmg/edit#heading=h.aifrx1s6veim

[2018-01-05 09:33] GeetikaBatra opened #107 "Use OSIO token for authorization."
The authentication needs to be enabled using OSIO icon. On clicking OSIO token, a preference page should come up which contains information about the services that would be enables on logging into OSIO.

[2018-01-05 09:34] #107 closed

[2018-01-05 09:35] GeetikaBatra commented on #91
According to disussion with PM, the authentication needs to be enabled using OSIO icon. On clicking OSIO token, a preference page should come up which contains information about the services that would be enables on logging into OSIO.

[2018-01-08 14:02] GeetikaBatra opened #108 "Use effective pom files."
Currently the pom files that are sent for analyses are not the effective ones. The idea is to get use this in stack analyses instead of the normal ones.

Reference to this issue - https://github.com/openshiftio/openshift.io/issues/1763

[2018-01-08 16:37] vprusa opened #109 ""Enable Fabric8 Analytic" DefaultToolItem button has Label "Exit"."
"Enable Fabric8 Analytic" DefaultToolItem button has Text correct but Label is "Exit".

Reproduce:
- Hover the button for few seconds.

[2018-01-09 11:34] nickboldt commented on #98
A few options:

Publish the upstream LSP server .tar or .tgz to download.jboss.org, then use ant or maven to fetch/unpack the tar.

Publish the upstream LSP server to JBoss Nexus, then retrieve and unpack the artifact using mojo. This might be the better option. Wdyt?

(I'm on PTO through EOD tomorrow but had some down time to check mail.)

[2018-01-09 11:45] GeetikaBatra commented on #98
Can we publish LSP server .zip instead of .tar. Looks like maven plugin while unpacking the .tar thinks that it is a zip and hence throws error.
I have tried compressing the LSP server in .zip format and it works like charm.

[2018-01-09 12:07] nickboldt commented on #98
Yes, anything is possible. Zips don't preserve execute permissions though, so you'd need a shell step to `chmod +x` the binary if you need to start the server... Which might not work the same way on all OSes. Maven Mojo's to fetch from nexus and unpack DO know how to untar, so that's still prolly the best option, IMHO.

[2018-01-11 15:52] nickboldt commented on #98
This PR will produce a zip as well as a tar:

https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/pull/21

NOTE that the output of unpacking the tar and the zip is slightly different:

https://imagebin.ca/v/3nqQIARJF59p

[2018-01-12 00:02] nickboldt commented on #98
Need another commit... https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/pull/22

then once merged, we can trigger this job...

https://dev-platform-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/fabric8/job/jbosstools-fabric8analytics-lsp-server_master/build

...  and should end up with a zip here:

http://download.jboss.org/jbosstools/oxygen/snapshots/builds/jbosstools-fabric8analy

[2018-01-16 14:56] nickboldt commented on #98
PR to make build windows friendly:

https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110

[2018-01-16 15:26] ljelinkova opened #117 "Remove SNAPSHOT versions"
The Fabric8 plugin uses snapshot version of the LSP server and of the lsp4j plugin. These should be replaced by some released version.

[2018-01-16 15:29] ljelinkova opened #118 "Cannot run stack analyses"
Cannot run stack analyses because the server returns code 503 (service unavailable).

[2018-01-16 15:30] GeetikaBatra commented on #117
Last time I checked, the released version was not  working as desired. The errors were not being flagged using the released version. That is why we adopted to Snapshot version. If released version works well, we can replace the snapshot version with it.

[2018-01-16 15:30] GeetikaBatra commented on #118
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110
This should fix it. Currently in process of rebase.

[2018-01-16 16:00] vprusa opened #119 "Run osio login request just once for all projects and pom files in workspace on devstudio start"
In case i have 5 project in workspace and im not logged into OSIO and start Devstudio it opens 5 Dialogs "Login to Openshift.io" .. I am not sure if it opens OSIO Login dialog per project or per pom in project.

[2018-01-16 16:00] nickboldt commented on #117
Assuming you're talking about 0.0.5 vs. 0.0.6-SNAPSHOT, then to use the 0.0.5 release we'll have to hack up a change to the job that publishes the zip so that the fabric8 analytics plugin can find it at build time. The fix I provided to publish a ZIP as well as a TAR is only in 0.0.6-SNAPSHOT, not 0.0.5.

Alternately, maybe we could fork the repo from 0.0.5, apply my changes, and release a 0.0.5.1

[2018-01-16 20:10] GeetikaBatra commented on #118
Fixed https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110

[2018-01-16 20:10] #118 closed

[2018-01-16 20:11] GeetikaBatra commented on #109
Fixed https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110

[2018-01-16 20:11] #109 closed

[2018-01-16 20:12] GeetikaBatra commented on #108
Covered by this-
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110

[2018-01-16 20:12] #108 closed

[2018-01-16 20:16] GeetikaBatra commented on #98
Fixed by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110

[2018-01-16 20:16] #98 closed

[2018-01-16 20:16] GeetikaBatra commented on #91
Covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110

[2018-01-16 20:18] GeetikaBatra commented on #62
Covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/101

[2018-01-16 20:18] #62 closed

[2018-01-16 20:18] GeetikaBatra commented on #104
Covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/111

[2018-01-16 20:18] #104 closed

[2018-01-16 20:19] #91 closed

[2018-01-17 07:51] ljelinkova commented on #117
Thanks Geetika and Nick for the explanation that it is OK for tech preview to have SNAPSHOT releases. I'll leave this issue open so that it will be fixed in 1.0.0 release.

[2018-01-17 10:52] ljelinkova opened #124 "The analyses should be disabled by default"
The analyses should be disabled by default but when I create an empty workspace and import some maven project, I am asked to login into OSIO.

Actually, I am asked to login 4 times (that is caused by bug in error handling in  lsp4e).

[2018-01-17 10:53] ljelinkova opened #125 "LSP server is not working"
The LSP server is not working - it seems it is not even bundled into the plugin itself.

[2018-01-17 10:59] ljelinkova opened #126 "Analyses returns http return code 404"
No analyses can be run at them moment since the server returns 404 code.

[2018-01-17 11:02] GeetikaBatra commented on #126
3scale pods are down, as there is a change going on. Analyses would work once the pods are up.

[2018-01-17 11:46] ljelinkova opened #127 "Maven effective pom files are stored into the filesystem"
The maven effective pom files are stored into the target folder of the project. I think this is
a) wrong place since target directory is an output directory of the project not a place where Eclipse plugins should  store their temporary files
b) it is not necessary since such file could be stored just in memory to send it to the server

[2018-01-17 13:16] ljelinkova opened #128 "Issues with AnalysesJobHandler"
There are several issues with this class

- it seems that the effective pom files are created every time this method is called and that also the server side is called every time. This method is called recursively so as the result the server side is bombed by the requests

- the temporary directory is not deleted in case same exception occurs

- it uses static reference to EditorComposite - in case

[2018-01-17 14:15] GeetikaBatra commented on #128
@ljelinkova, what else can be the possible solution to handle effective pom files?
We can work on not storing the files in any temporary folder.
Will, make editor composite non static.

[2018-01-17 15:36] GeetikaBatra opened #129 "Fix Tests"
Addition of code in last 2-3 days has restructured a lot of code base, hence breaking some tests. Need to fix them.

[2018-01-18 10:22] GeetikaBatra opened #133 "Stack Analyses not running on installation."
For some projects imported, Stack Analyses is not working on installation.

[2018-01-18 10:32] sivaavkd commented on #133
<img width="1680" alt="screen shot 2018-01-18 at 4 00 53 pm" src="https://user-images.githubusercontent.com/32661994/35093613-da505266-fc68-11e7-9cab-5cb66acd7d6d.png">
Here is the screenshot right after installing devstudio and plugin.

[2018-01-19 08:16] krishnapaparaju commented on #125
This is taken care, been fixed...

[2018-01-19 08:16] #125 closed

[2018-01-19 08:17] krishnapaparaju commented on #124
LSP server gets started after authorisation, This is taken care, been fixed...

[2018-01-19 08:17] #124 closed

[2018-01-19 13:47] GeetikaBatra commented on #133
Fixed by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/140

[2018-01-19 13:47] #133 closed

[2018-01-19 13:49] GeetikaBatra commented on #128
Fixed by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/140 and https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/139

[2018-01-19 13:50] GeetikaBatra opened #141 "Handling Effective Pom Files"
it seems that the effective pom files are created every time this method is called and that also the server side is called every time. This method is called recursively so as the result the server side is bombed by the requests

[2018-01-19 13:50] GeetikaBatra commented on #128
For Effective pom file handling refer to this issue https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/141

[2018-01-19 13:50] #128 closed

[2018-01-19 13:51] GeetikaBatra commented on #126
Covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/140

[2018-01-19 13:51] #126 closed

[2018-01-19 13:51] GeetikaBatra commented on #86
Covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/140

[2018-01-19 13:52] #86 closed

[2018-01-19 15:09] rawagner opened #143 "Refactor plugins"
I was just looking at the plugins and I wanted to ask you if you would mind to split the plugins as follows:
1. com.redhat.fabric8analytics.eclipse.core - contains core stuff
2. com.redhat.fabric8analytics.eclipse.ui - ui (stack analysis view)
3. com.redhat.fabric8analytics.eclipse.lsp.core - LSP core stuff
4. possibly in the future com.redhat.fabric8analytics.eclipse.lsp.ui

currently we have:
1.

[2018-01-22 02:51] GeetikaBatra commented on #143
@rawagner, Sounds good to me. It will make code base more cleaner. :)

[2018-01-22 07:50] rawagner commented on #143
@GeetikaBatra awesome! :)

[2018-01-22 08:55] rawagner opened #145 "Externalize all messages"

[2018-01-22 09:49] rawagner opened #146 "LSP connection provider throws exception when token is null"
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/blob/master/plugins/com.redhat.fabric8analytics.lsp.eclipse.ui/src/com/redhat/fabric8analytics/lsp/eclipse/ui/Fabric8AnalyticsStreamConnectionProvider.java#L115

the condition should be the opposite -> if(token == null)

[2018-01-22 10:03] rawagner opened #148 "Move preferences to core plugin and use e4 API"
jface.preference.IPreferenceStore is currently used for storing plugin preferences. We should migrate to e4 API (no UI dependencies) and move preferences to core plugin

[2018-01-22 10:21] rawagner opened #149 "Replace all printStackTrace and System.out.println calls with proper logging"
any printStackTrace() should be replaced with logError()

any System.out.println() should be replaced with logInfo(), or removed

[2018-01-22 15:29] sivaavkd commented on #143
@GeetikaBatra is this complete ?

[2018-01-22 19:10] GeetikaBatra commented on #143
@Siva, I am working on it. Need to make sure things don't break because of this as this involves a lot of code restructuring.

[2018-01-23 04:14] GeetikaBatra commented on #83
I think this is not required now, as user will now have to click on OSIO icon inorder to enable Fabric8 analytics, so no login is displayed on click of pom.xml file.

[2018-01-23 04:14] #83 closed

[2018-01-23 04:15] GeetikaBatra commented on #119
This is fixed as login workflow has changes.

[2018-01-23 04:15] #119 closed

[2018-01-23 04:16] GeetikaBatra commented on #145
@rawagner, I would appreciate a little more information on this.
Thanks in advance. :)

[2018-01-25 04:54] GeetikaBatra commented on #141
Handled by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/142.
Closing the issue.

[2018-01-25 04:54] #141 closed

[2018-01-25 04:55] GeetikaBatra commented on #127
Handled by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/142
Closing the issue.

[2018-01-25 04:55] #127 closed

[2018-01-25 04:55] GeetikaBatra commented on #102
Handled by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/153
Closing

[2018-01-25 04:55] #102 closed

[2018-01-25 04:58] GeetikaBatra opened #156 "Send license file for analyses ."
There is a need to send license file and send it for analyses.

[2018-01-25 04:58] GeetikaBatra commented on #149
Covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/154

[2018-01-25 05:00] GeetikaBatra commented on #146
I think we can close this as there it is a checkpoint in order to get refreshed token.

[2018-01-25 05:53] GeetikaBatra commented on #129
Covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/150

[2018-01-25 07:00] rawagner commented on #146
I agree. Closing

[2018-01-25 07:00] #146 closed

[2018-01-25 08:59] rawagner commented on #149
And #157

[2018-01-25 10:04] #129 closed

[2018-01-25 10:12] rawagner commented on #149
Both PR's are merged. Closing

[2018-01-25 10:12] #149 closed

[2018-01-25 10:21] #105 closed

[2018-01-25 10:41] #37 closed

[2018-01-25 10:43] GeetikaBatra commented on #82
@rawagner, What could be the possible solution for this one?

[2018-01-25 10:55] rawagner commented on #82
@GeetikaBatra I will take a look - assigning the issue to me.

[2018-01-25 10:57] GeetikaBatra commented on #82
@rawagner , Thanks

[2018-01-25 13:48] rawagner opened #158 "Issues with current workflows"
Lets take a look at current workflows and discuss what is ok/not ok.

**1.WORKFLOW - generate stack analysis via project's context menu**
1. create new project, right clik and select "Stack Analyses"
2. I am asked to enable F8A in preferences -> why ? I just manually selected that I want to generate Stack Analyses
3. Well...ok, i go to preferences and enable F8A
4. right click on project and selec

[2018-01-25 14:29] GeetikaBatra commented on #158
Hi @rawagner, can we have a Bluejeans discussion on the above points sometime around tomorrow?

[2018-01-25 14:34] rawagner commented on #158
@GeetikaBatra sure. But I have a PTO tomorrow. Can we meet on Monday ?

[2018-01-25 14:52] rawagner commented on #158
PR #160 for the issue. Lets talk about it next week

[2018-01-29 13:44] rawagner commented on #145
It's about http://www.vogella.com/tutorials/EclipseInternationalization/article.html

Basically we should create
Messages.properties - this file will contain all string messages
Messages.java - String variables which values are initiated with values from Messages.properties
and then use Messages.java variables in code

[2018-01-29 19:33] GeetikaBatra opened #162 "Rename text of stack-analyses to stack analysis"

[2018-01-30 10:35] rawagner commented on #158
PR merged

[2018-01-30 10:35] #158 closed

[2018-01-30 10:35] rawagner commented on #148
PR merged

[2018-01-30 10:35] #148 closed

[2018-01-31 14:33] sivaavkd opened #164 "F8A Devstudio plugin on Windows 10"
The plugin itself works fine, but F8A webpage that should show the results does not work in internal eclipse browser. There is some strange issue with the F8A webpage javascript code & internal eclipse browser.

eclipse internal browser is using InternetExplorer libraries and the webpage is not working in InternetExplorer too.

webpage works in Chrome/Firefox/Edge but does not work in InternetExpl

[2018-01-31 14:35] sivaavkd commented on #164
@jyasveer - can you please verify if new stack report is working properly on IE or not ?

[2018-01-31 15:07] arunkumars08 commented on #164
@sivaavkd We have to test for various versions of IE. Majority uses Edge in Windows 10. Still we need to test for IE.

[2018-01-31 18:49] rawagner commented on #164
@arunkumars08 Can you please take a look/fix this asap ? We plan to release the plugin for Devstudio 10.3.0.AM1 which has a code freeze next week (07.02).

[2018-01-31 18:58] arunkumars08 commented on #164
@jyasveer Could you take a look at this? I am on transit.

On Feb 1, 2018 00:19, "rawagner" <notifications@github.com> wrote:

[2018-01-31 19:04] arunkumars08 commented on #164
@rawagner Just wanna highlight that this doesn't involve any changes in Dev
studio plugin extension. It is a separate UI portal which can be updated
incrementally.

On Feb 1, 2018 00:28, "Arun Kumar" <sail.arunkumar@gmail.com> wrote:

[2018-01-31 19:11] rawagner commented on #164
@arunkumars08 sure that's why I was looking for help from f8a frontend team as there is nothing I can do from plugin side :) Thanks!

[2018-01-31 19:28] jyasveer commented on #164
@rawagner as @arunkumars08 said, this report is totally independent of the dev studio plugin. it is a self hosted website that can be updated incrementally. Again, the stack report portal works in all the modern browsers say it Edge, Chrome and Firefox. If we talk about IE, we have to see what exactly is breaking there

[2018-02-02 03:37] GeetikaBatra commented on #162
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/165

[2018-02-02 03:37] #162 closed

[2018-02-02 12:52] rawagner commented on #164
Fixed with https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui/commit/045d4ea43356ee72b7a0db451705f5dd82accfd6 and https://github.com/openshiftio/saas-analytics/pull/241

[2018-02-02 12:52] #164 closed

[2018-02-07 08:39] GeetikaBatra commented on #60
This can be closed now, https://issues.jboss.org/browse/JBIDE-24897

[2018-02-21 16:15] vprusa opened #169 "ITests failing on running job 'Initialize Language Servers for pom.xml'"
Itests hangs on
15:44:25 10:44:24.597 DEBUG [WorkbenchTestable][JobIsRunning]   job 'Initialize Language Servers for pom.xml' has no excuses, wait for it
.. For all test cases which opens pom.xml

[jenkins job](https://dev-platform-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/fabric8-analytics.itests/115/console)

Locally all test passed

I need to debug this with lsp4e for more info

[2018-03-27 16:13] vprusa commented on #169
Using remote debug i was able to Generate Stack Report result even when job "Initialize Language Servers for pom.xml" was still running.  Forther attempts to stop job using UI button in Progress tab got this job stuck at state "Cancel Requested" as seen in screenshot.
![image](https://user-images.githubusercontent.com/2094946/37980031-5e368fc6-31ea-11e8-9062-edcfbfcb9f4e.png)

[2018-03-28 08:23] rawagner commented on #169
Generate Stack Report and Language Servers are two independent features.

Can you please generate and attach here a java tread dump when the Initialize LS job is stuck ? See https://access.redhat.com/solutions/18178

[2018-04-03 16:48] vprusa commented on #169
I am not sure if this is related but new error in [logs](https://dev-platform-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/fabric8-analytics.itests/jdk=openjdk-1.8,label=fedora26/43/console)
[code]

[2018-04-05 11:33] rawagner commented on #169
@vprusa So the LSP server.js is not downloaded during the build. download-maven-plugin plugin is used to download the LSP server and the plugin execution is skipped if skipRequirements is set to true (the value is inherited from skipTests), which it is in your jenkins job. I have added skipRequirements=false. Lets see if it helps

[2018-11-09 13:55] nickboldt opened #175 "Rename plugin and feature to "Dependency Analytics""
Per discussion w/ @mistria, @bodavis and @jeffmaury, plugin should be relabelled so people know what it does. Not everyone knows what fabric8 is, but dependency analytics is a more descriptive name.

[2018-11-09 14:03] nickboldt commented on #175
See also https://issues.jboss.org/browse/JBIDE-26463 and https://issues.jboss.org/browse/JBIDE-26464

[2018-11-30 14:49] nickboldt commented on #175
Here's a PR for you:

https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/179